body {
  line-height: 20px;
  text-shadow: none;
  font-size: 14px;
  background-color: rgba(255, 255, 255, .6);
  background-size: cover;
  margin: 0;
  padding: 0;
}

*, p {
  font-family: "Verdana";
}

.navbar {
  display: flex;
  min-width: 1200px;
  background-color: #99000F;
  color: #FFF;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #99000F;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 14px;
  padding-right: 20px;
  color: #FFF;
}

h2 {
  margin: 30px 0;
}

#page-content {
  min-width: 1200px;
  margin: 20px auto;
  display: table;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
  padding: 10px 0px;
  min-width: 600px;
  border: 1px solid #ccc;
}

.left {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: none;
}

.right {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: none;
}

#username, #password {
  border: 2px solid #ccc;
  border-radius: 5px;
}

#login, h2, .desc, .rememberpass, .submit, .forgetpass, .nidforgetpass {
  display: flex;
  justify-content: center;
}

#submit {
  background-color: #30add1;
  color: #FFFFFF;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
}

#submit:hover {
  cursor: pointer;
  background-color: aqua;
}

.form-label {
  height: 40px;
}

.desc, .submit {
  height: 30px;
  padding: 2px;
  margin: 10px 0;
}

.forgetpass, .nidforgetpass {
  height: 30px;
  padding: 0;
  margin: 0;
}

.f-col, .s-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

#page-footer {
  background-color: #99000F;
  color: #DDD;
  border-top: 2px solid #99000F;
  border-bottom: 3px solid #99000F;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  height: 200px;
  width: 100%;
}

#footer1, #footer2 {
  width: 1200px;
  height: 50px;
}

#footer3 {
  display: flex;
  justify-content: center;
  border-top: 1px solid #3081d1;
  width: 1200px;
}

.select {
  padding: 10px 15px;
  border: none;
  color: #FFF;
  background-color: #99000F;
  margin: -5px 0;
}

.dropdown {
  position: relative;
  display: flex;
}

.dropdown-content {
  display: none;
  position: absolute;
}

.select:hover {
  cursor: pointer;
  background-color: #FFFFFF;
  color: #99000F;
}

.dropdown:hover .dropdown-content {
  position: absolute;
  top: 36px;
  display: flex;
  flex-direction: column;
  width: 150px;
  cursor: pointer;
  border: 1px solid #99000F;
  border-radius: 5px;
  background-color: #FFFFFF;
}

a {
  text-decoration: none;
  color: #99000F;
  padding: 5px;
}

.dropdown-content a:hover {
  background-color: #99000F;
  color: #FFFFFF;
}

/* WebKit 瀏覽器 */
::-webkit-scrollbar {
  width: 15px;  /* 滾動條寬度 */
}

::-webkit-scrollbar-track {
  background-color: #FFFFFF;  /* 滾動條背景色 */
}

::-webkit-scrollbar-thumb {
  background-color: #99000F;  /* 滾動條滑塊顏色 */
}

